<h2 class="my-class"><%= page_title %></h2>
<% if @book.errors.any? %>
  <ul class="errors">
    <% @book.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %>: </strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= form_for @book, url: @action do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <strong>Author:</strong> <%= @book.author.name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <div>
    <%= f.label :genres %>
    <%= collection_check_boxes(:book, :genre_ids, Genre.all, :id, :name) %>
  </div>

  <%= f.submit %>
<% end %>
