<h2 class="my-class"><%= page_title %></h2>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.select :author_id, Author.all.map { |author| [author.name, author.id ] } %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>
