<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ada Books & Code" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to image_tag("http://www.placecage.com/50/50", alt: "Home"), books_path %>
          </li>
          <li>
            <%= link_to "Author List", authors_path %>
          </li>
          <li>
            <%= link_to "Add an Author", new_author_path %>
          </li>
            <% if @user %>
              <li>
                Welcome <%= @user.name %>
                <%= link_to "Logout", logout_path, method: :delete %>
              </li>
            <% else %>
              <li><%= link_to "Login With Github", github_login_path %></li>
            <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <section class="flash">
        <% flash.each do |name, message| %>
        <section class="callout <%= name %>">
          <% if name == "alert" %>
            <ul>
              <% flash[:alert].each do |name, message| %>
              <li><%= name %>: <%= message %></li>
              <% end %>
            </ul>
          <% else %>
            <p>
              <%= message %>
            </p>
          <% end %>
        </section>
        <% end %>
      </section>

      <%= yield %>
    </main>
  </body>
</html>
